/*
Color Pallete:
#DBE9EE: Alice Blue
#C0D6DF: Columbia Blue
#4A6FA5: True Blue
#166088: Lapis Lazuli
#4F6D7A: Payne's Gray
*/

body{
  background-color: #DBE9EE;
  color: #4F6D7A;
}

text-indigo-600 font-semibold{
  background-color: #166088;
}
